/* === FONTS ===  */
@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

/* === GENERAL STYLES ===  */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent: #11547a;
  --accent-dark: #04446a;
  --accent-light: #1e6791;
  --background: #f3f3f3;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  background-color: var(--background);
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  z-index: 9999;
}

/* === NAVBAR === */
nav {
  max-width: 80px;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--accent-dark);
}

nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 30px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #11547a;
  color: white;
  box-sizing: border-box;
  position: relative;
}

nav a .title {
  position: absolute;
  top: 0;
  pointer-events: none;
  left: 50%;
  color: white;
  flex-direction: column;
  justify-content: center;
  z-index: 10000;
  padding: 5px;
  padding-right: 30px;
  font-size: 20px;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--accent-light);
  transition: 0.2s all;
  display: flex;
  border-radius: 0 35px 35px 0;
  opacity: 0;
}
nav a:not(.active):hover .title {
  left: 100%;
  opacity: 1;
  pointer-events: all;
}

nav a:hover {
  border-radius: 50% 0 0 50%;
  color: #ddd;
  background-color: var(--accent-light);
}

nav a.active {
  background-color: var(--background);
  color: var(--accent-dark);
  border-radius: 50% 0 0 50%;
  position: relative;
}
nav a.active:hover {
  background-color: var(--background);
  color: var(--accent-dark);
}

nav a.active:after {
  content: '';
  position: absolute;
  top: 0;
  right: -5px;
  width: 20px;
  height: 100%;
  background-color: var(--background);
}

.styled_table {
  width: 100%;
  height: 100%;
  font-size: 18px;
  position: relative;
  overflow: auto;
  border-radius: 10px 10px 0 0;
  border-bottom: 3px solid var(--accent);
}

.styled_table table {
  width: 100%;
  border-collapse: collapse;
}
.styled_table tbody tr {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  background-color: white;
}
.styled_table tbody tr td {
  padding: 20px 10px;
  height: 100%;
}
.styled_table table tbody tr:not(:hover):nth-child(even) {
  background-color: #f7f7f7;
}
.styled_table tbody tr:hover {
  background-color: #e0e0e0;
}

.styled_table thead {
  /* border-bottom: 3px solid #777; */
  font-weight: bold;
  position: sticky;
  top: 0;
  color: white;
  background-color: var(--accent);
}
.styled_table thead tr td {
  padding: 15px 10px;
}

.floating_buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.floating_buttons button {
  padding: 0;
  margin: 0;
  width: 60px;
  height: 60px;
  background-color: var(--accent);
  transition: 0.2s background;
  outline: none;
  border: none;
  font-size: 40px;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floating_buttons button:hover {
  background-color: var(--accent-dark);
}
/* .logo {
  font-size: 20px;
  color: white;
  font-weight: bold;
} */

.modal {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.modal-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  flex-shrink: 0;
}

.sortable_column {
  cursor: pointer;
  user-select: none;
  padding: 5px 10px;
}

.sortable_column:hover {
  color: #ccc;
}
.sortable_column .sort_hidden {
  opacity: 0;
}
.sortable_column:hover .sort_hidden {
  opacity: 1;
}

label {
  margin-right: 10px;
}

.styled_table .row_options {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.styled_table .row_options svg {
  cursor: pointer;
  font-size: 25px;
}

.modal table tr td {
  vertical-align: top;
}

.map_header {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.map_tabs_wrap {
  height: 100%;
  flex-grow: 1;
}
.map_tabs {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3px;
  height: 100%;
  margin-right: 20px;
}

.map_tabs button {
  padding: 5px 25px;
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.map_tabs button.active {
  background-color: white;
  border-left: 1px;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #ccc;
  position: relative;
}

.map_tabs button.active::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 100;
  background-color: white;
}
.map_tools {
  flex-shrink: 1;
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: right;
  height: 100%;
}

.page_tools select,
.page_options select,
.page_tools button,
.page_options button,
.page_tools input,
.page_options input {
  height: 40px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.page_tools,
.page_options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.map_compartment {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

.map_wrap {
  flex-grow: 1;
  /* position: relative; */
}

.error {
  color: red;
}

.interactive_map {
  width: 100%;
  height: 100%;
  overflow: auto;
  cursor: grab;
  position: relative;
  z-index: 10;
  flex-grow: 1;
}

.interactive_map svg {
  z-index: 9;
}
.interactive_map img {
  user-select: none;
  pointer-events: none;
}

.interactive_map * {
  position: absolute;
  top: 0;
  left: 0;
}

.modal_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.interactive_map_controls {
  z-index: 11;
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
  height: 30px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.interactive_map_controls button {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

.interactive_map_wrap {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
}

.sensor_list {
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: white;
}
.sensor_list table {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  border-collapse: collapse;
}
.sensor_list table tr td {
  padding: 10px 5px;
  box-sizing: border-box;
  vertical-align: middle;
  height: 100%;
  cursor: default;
}
.sensor_list table tr:hover {
  background-color: #e0e0e0;
}

.sensor_list table td label {
  cursor: pointer;
}

.displayed_sensor {
  cursor: pointer;
  user-select: none;
}

.sensor_list_wrap {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.chart_wrap {
  flex-grow: 1;
  overflow: hidden;
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: row;
}

.chart_header {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.chart_tools {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.chart_tools div {
  width: max-content;
}
.chart_tools * {
  height: 100%;
  box-sizing: border-box;
}

.chart {
  flex-grow: 1;
  box-sizing: border-box;
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  gap: 10px;
  overflow-y: auto;

  padding: 30px;
}

.dashboard .tile {
  width: 250px;
  height: 150px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.tile_name {
  flex-shrink: 1;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.tile_name svg,
.tile_name span {
  vertical-align: middle;
  display: inline;
}

.tile_name svg {
  margin-left: 5px;
}
.tile_data {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.dashboard.editing .tile .tile_data {
  opacity: 0.3;
}

.page_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.page_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 10px;
}
.page_header button {
  height: 100%;
  padding: 10px;
}
.page {
  overflow: auto;
}

.map_alert {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: #f3f3f3;
}

.link {
  text-decoration: underline;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.link:hover {
  color: #555;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.chart_options {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 5px;
}

.group_list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.clickable_status {
  cursor: pointer;
  border-radius: 50%;
}

.clickable_status:hover {
  border: 2px solid black;
}